/********************************* CORES *********************************/
.camarelo {
  color: #FFD300;
}
.bamarelo {
  background-color: #FFD300;
}
.cazul {
  color: #052846;
}
.bazul {
  background-color: #052846;
}
.cmarinho {
  color: #031727;
}
.bmarinho {
  background-color: #031727;
}
.cpreto {
  color: #000;
}
.bpreto {
  background-color: #000;
}
.cescuro {
  color: #222;
}
.bescuro {
  background-color: #222;
}
.cgrafite {
  color: #333;
}
.bgrafite {
  background-color: #333;
}
.ccinzaescuro {
  color: #777;
}
.bcinzaescuro {
  background-color: #777;
}
.ccinza {
  color: #AAA;
}
.bcinza {
  background-color: #AAA;
}
.ccinzaclaro {
  color: #EEE;
}
.bcinzaclaro {
  background-color: #EEE;
}
.cgelo {
  color: #F7F7F7;
}
.bgelo {
  background-color: #F7F7F7;
}
.cbranco {
  color: #FFF;
}
.bbranco {
  background-color: #FFF;
}
/********************************* GERAL *********************************/
html,
body {
  font-size: 9px;
  overflow-x: hidden;
}
* {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.squada {
  font-family: 'Squada One', sans-serif;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.fast {
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
.clear {
  clear: both;
}
.hidden {
  display: none !important;
}
.ovf-hidden {
  overflow: hidden;
}
a,
button {
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}
a:hover,
button:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabled {
  display: table;
}
.tabled > div {
  display: table-cell;
  vertical-align: middle;
}
/*********************************** FORMAS ***********************************/
.il {
  display: inline;
}
.bl {
  display: block;
}
.ib {
  display: inline-block;
}
.hid {
  display: none;
}
.rd100 {
  border-radius: 100vh;
}
.rd0 {
  border-radius: 0px;
}
.rd5 {
  border-radius: 5px;
}
.rd10 {
  border-radius: 10px;
}
.m0 {
  margin: 0;
}
.mb05 {
  margin-bottom: 0.5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb3 {
  margin-bottom: 3em;
}
.p0 {
  padding: 0;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.pl10 {
  padding-left: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/*********************************** FONTES TEXTOS ***********************************/
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
.i {
  font-style: italic;
}
.uc {
  text-transform: uppercase;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.t11 {
  font-size: 1.1rem;
}
.t12 {
  font-size: 1.2rem;
}
.t13 {
  font-size: 1.3rem;
}
.t14 {
  font-size: 1.4rem;
}
.t15 {
  font-size: 1.5rem;
}
.t16 {
  font-size: 1.6rem;
}
.t18 {
  font-size: 1.8rem;
}
.t20 {
  font-size: 2.0rem;
}
.t22 {
  font-size: 2.2rem;
}
.t24 {
  font-size: 2.4rem;
}
.t26 {
  font-size: 2.6rem;
}
.t28 {
  font-size: 2.8rem;
}
.t32 {
  font-size: 3.2rem;
}
.t36 {
  font-size: 3.6rem;
}
.t37 {
  font-size: 3.7rem;
}
.t42 {
  font-size: 4.2rem;
}
.t48 {
  font-size: 4.8rem;
}
.t56 {
  font-size: 5.6rem;
}
.t62 {
  font-size: 6.2rem;
}
.t72 {
  font-size: 7.2rem;
}
.lh120 {
  line-height: 120%;
}
.lh140 {
  line-height: 140%;
}
.lh160 {
  line-height: 160%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
/*********************************** BARRA TOPO ***********************************/
@media all {
  #barra-topo {
    background-color: #031727;
    padding-top: 280px;
    padding-bottom: 50px;
    border-bottom: solid #FFD300 10px;
  }
  #barra-topo form#televendas {
    display: block;
    width: 100%;
    text-align: center;
  }
  #barra-topo form#televendas h6 {
    padding: 10px 0 0;
    color: #FFD300;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.0rem;
  }
  #barra-topo form#televendas select {
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #052846;
  }
  #barra-topo form#televendas p {
    margin: 0;
    padding: 10px 0 0;
  }
  #barra-topo form#televendas p a {
    font-size: 2.8rem;
    color: #FFF;
    font-weight: 800;
  }
  #barra-topo form#televendas p a > t span {
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 800;
  }
  #barra-topo form#televendas p a:hover,
  #barra-topo form#televendas p a:hover span {
    color: #FFD300;
  }
  #barra-topo form#televendas .whats {
    color: #FFF;
    padding-bottom: 20px;
  }
  #barra-topo form#televendas .whats a {
    display: inline-block;
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 10px;
  }
  #barra-topo form#televendas .whats a > t span {
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 800;
  }
  #barra-topo form#televendas .whats a > i {
    font-size: 1.6rem;
    color: #28AD00;
    font-weight: 500;
    margin-right: 5px;
  }
  #barra-topo form#televendas .whats a:hover,
  #barra-topo form#televendas .whats a:hover span {
    color: #FFD300;
  }
  #barra-topo ul.menu.ms {
    text-align: center;
  }
  #barra-topo ul.menu.ms li {
    display: inline-block;
    padding: 0;
    margin: 1px;
  }
  #barra-topo ul.menu.ms li:hover {
    transform: scale(1.3, 1.3);
  }
  #barra-topo ul.menu.ms li a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    line-height: 0;
    font-size: 0.1px;
    font-size: 0;
    color: #031727;
  }
  #barra-topo ul.menu.ms li.ms-fb {
    background-image: url(../img/ms-fb.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #barra-topo ul.menu.ms li.ms-tw {
    background-image: url(../img/ms-tw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #barra-topo ul.menu.ms li.ms-ins {
    background-image: url(../img/ms-ins.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #barra-topo ul.menu.ms li.ms-yt {
    background-image: url(../img/ms-yt.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) {
  #barra-topo {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
  }
  #barra-topo form#televendas {
    float: left;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #barra-topo form#televendas h6 {
    display: inline-block;
    padding-right: 15px;
  }
  #barra-topo form#televendas select {
    display: inline-block;
    width: 190px;
    margin-right: 10px;
  }
  #barra-topo form#televendas p {
    display: inline-block;
    padding: 0 10px;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
  }
  #barra-topo form#televendas .whats {
    display: inline-block;
    padding: 0 0 0 5px;
  }
  #barra-topo form#televendas .whats a {
    display: block;
    font-size: 1.6rem;
    padding: 2px;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
  }
  #barra-topo ul.menu.ms {
    float: right;
    padding-top: 4px;
  }
}
@media (min-width: 1200px) {
  #barra-topo form#televendas {
    padding-left: 240px;
  }
}
/*********************************** MENU ***********************************/
@media all {
  #menu {
    position: absolute;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #052846;
    overflow: hidden;
  }
  #menu .logo {
    display: inline-block;
  }
  #menu .logo img {
    max-width: 100%;
    width: 180px;
    position: relative;
    z-index: 2210;
  }
  #menu .open {
    display: inline-block;
    font-size: 3.6rem;
    color: #052846;
    background-color: #FFD300;
    padding: 20px 25px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    text-align: center;
    z-index: 2215;
  }
  #menu .open:hover i {
    transform: scale(1.3, 1.3);
  }
  #menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2200;
    background-color: #052846;
    padding-top: 280px;
    overflow-y: auto;
    display: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  #menu .menu li a {
    display: block;
    color: #FFF;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px 0;
  }
  #menu .menu li a:hover {
    transform: scale(1.3, 1.3);
    color: #FFD300;
  }
}
@media (min-width: 992px) {
  #menu {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    top: auto;
    left: auto;
    width: auto;
    overflow: visible;
    padding: 0;
    border-bottom: solid 5px #FFD300;
  }
  #menu .logo {
    display: block;
    float: left;
    height: 60px;
  }
  #menu .logo img {
    width: 140px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  }
  #menu .open {
    display: none !important;
  }
  #menu .menu {
    display: block !important;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    float: right;
    overflow-y: inherit;
    padding-top: 0;
  }
  #menu .menu li {
    display: inline-block;
    padding: 0;
  }
  #menu .menu li a {
    padding: 25px 12px;
    border-top: solid 0px #FFD300;
    border-bottom: solid 0px #FFD300;
  }
  #menu .menu li a:hover {
    transform: none;
    border-top: solid 10px #FFD300;
    border-bottom: solid 10px #FFD300;
    padding: 15px 12px;
  }
}
@media (min-width: 1200px) {
  #menu .logo {
    margin-top: -60px;
  }
  #menu .logo img {
    width: 200px;
  }
  #menu .menu li a {
    padding: 30px 22px;
  }
  #menu .menu li a:hover {
    padding: 20px 22px;
  }
}
/*********************************** CAPA ***********************************/
@media all {
  #capa .item {
    display: none;
  }
  #capa .item.active {
    display: block;
  }
  #capa .item.desktop {
    display: none;
  }
  #capa ul.controle {
    width: 100%;
    background-color: #FFD300;
    height: 5px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  #capa ul.controle li {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 5px;
    position: relative;
  }
  #capa ul.controle li a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FFD300;
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: 0.7;
  }
  #capa ul.controle li a:hover {
    height: 40px;
    opacity: 0.8;
  }
  #capa ul.controle li a.active {
    height: 60px;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  #capa .item.mobile {
    display: none;
  }
  #capa .item.desktop.active {
    display: block;
  }
}
/*********************************** LOJAS ***********************************/
@media all {
  #lojas {
    background-image: url(../img/pattern.jpg);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #lojas h2 {
    color: #FFD300;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 92px;
    margin-bottom: 30px;
    text-shadow: 15px 15px 0px #031727;
  }
  #lojas .loja {
    background-color: #031727;
    margin-bottom: 30px;
  }
  #lojas .loja .info {
    padding: 25px;
  }
  #lojas .loja .info h3 {
    font-size: 2.4rem;
    color: #FFD300;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
  }
  #lojas .loja .info p {
    color: #FFF;
    font-size: 1.6rem;
    line-height: 180%;
    margin: 0;
  }
  #lojas .loja .info p i.fa-whatsapp {
    color: #28AD00;
  }
  #lojas .loja .info p.tel {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 140%;
  }
  #lojas .loja .info p.tel i {
    margin-right: 10px;
  }
  #lojas .loja .info p.tel span {
    font-size: 1.6rem;
  }
  #lojas .loja .info p.tel2 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
  }
  #lojas .loja .info p.tel2 i {
    margin-right: 10px;
  }
  #lojas .loja .info p.tel2 span {
    font-size: 1.6rem;
  }
  #lojas .loja .info p a:hover {
    color: #FFD300;
  }
  #lojas .loja iframe {
    width: 100%;
    height: 250px;
  }
  #lojas .loja .lancamento {
    background-color: #FFD300;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    align-content: center;
  }
  #lojas .loja .lancamento h5 {
    color: #031727;
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
  #lojas .loja .lancamento h5 span {
    display: block;
    font-size: 1.8rem;
  }
  #lojas a.mais {
    display: inline-block;
    padding: 15px 35px;
    background-color: #031727;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 800;
    border-radius: 5px;
    color: #FFD300;
    margin-top: 50px;
  }
  #lojas a.mais.nohover {
    cursor: auto !important;
  }
}
/*********************************** SOBRE ***********************************/
@media all {
  #sobre {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/back-sobre.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  #sobre::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  #sobre * {
    position: relative;
    z-index: 12;
  }
  #sobre img {
    margin-bottom: 30px;
  }
  #sobre p {
    color: #FFF;
    padding-bottom: 20px;
    font-size: 1.6rem;
    line-height: 160%;
  }
  #sobre p.slogan {
    font-style: italic;
    font-weight: 800;
    font-size: 2.2rem;
    color: #FFD300;
  }
}
@media (min-width: 992px) {
  #sobre p {
    font-size: 2.0rem;
  }
  #sobre p.slogan {
    font-size: 2.8rem;
  }
}
@media (min-width: 1200px) {
  #sobre p {
    font-size: 2.2rem;
    line-height: 180%;
  }
  #sobre p.slogan {
    font-size: 3.6rem;
  }
}
/*********************************** PAGES ***********************************/
@media all {
  .page {
    background-color: #F7F7F7;
    padding-top: 100px;
    padding-bottom: 150px;
    min-height: 80vh;
  }
  .page#trabalhe-conosco h2 {
    text-align: center;
    font-size: 5.6rem;
    font-family: 'Squada One', sans-serif;
    padding-bottom: 30px;
  }
  .page#trabalhe-conosco form {
    width: 100%;
  }
  .page#trabalhe-conosco form label {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
  }
  .page#trabalhe-conosco form input,
  .page#trabalhe-conosco form textarea,
  .page#trabalhe-conosco form select {
    height: 50px;
    padding: 10px;
    font-size: 1.8rem;
    resize: none;
    border: solid 1px #E5E5E5;
  }
  .page#trabalhe-conosco form textarea {
    height: auto;
  }
  .page#trabalhe-conosco form p.help-block {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .page#trabalhe-conosco form .submit {
    display: inline-block;
    padding: 20px 45px;
    background-color: #052846;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;
    border-radius: 5px;
    color: #FFD300;
    margin-top: 50px;
    height: auto;
  }
  .page#trabalhe-conosco form .submit:hover {
    background-color: #031727;
  }
}
/*********************************** RODAPÉ ***********************************/
@media all {
  #rodape {
    background-color: #031727;
    border-bottom: solid 10px #FFD300;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #rodape ul.menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #rodape ul.menu li {
    margin: 0;
    padding: 0;
  }
  #rodape ul.menu li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
  #rodape ul.menu li a:hover {
    transform: scale(1.3, 1.3);
    color: #FFD300;
  }
}
@media (min-width: 992px) {
  #rodape {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #rodape ul.menu li {
    display: inline-block;
  }
  #rodape ul.menu li a {
    padding: 25px 25px;
  }
  #rodape ul.menu li a:hover {
    transform: none;
    border-top: solid 10px #FFD300;
    border-bottom: solid 10px #FFD300;
    padding: 15px 25px;
  }
}
@media (min-width: 1200px) {
  #rodape ul.menu li a {
    padding: 25px 35px;
  }
  #rodape ul.menu li a:hover {
    transform: none;
    padding: 15px 35px;
  }
}
